
/*
font-family:cairo \ comfortaa
color:red \ #21455e

<!-- mazen -->

*/



/*-- contact us --*/

/* .contact-us{
    padding: 100px 0;
}

.contact-us .item{
    width: 25%;
    height: 100px;
    float: left;
    box-shadow: 0 0 28px black;
    margin-left: 6%;
    text-align: center;
    font-family: Karla;
    padding-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: #21455e;
}

.contact-us .item a{

    text-align: center;
    font-family: Karla;
    padding-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: #21455e;
}



{
    list-style-type: none;
    margin-top: 200px;
    margin-left: 37%;
    float: left;
}

.contact-us ul li a{
    display: inline;
    margin-left: 4%;
    color: red;
    float: left;
}
 */





/* 
.icon9 .icon9 li a {
    list-style-type:none;
    text-align: center;

    

    font-family: Karla;
    display: inline;
    font-size: 20px;
    color: red;
    
    float: left;
}
 */












